In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from time import time
import numpy as np
import pandas as pd
import xgboost
import math
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
from __future__ import division
from scipy.stats import pearsonr
from sklearn.linear_model import LinearRegression
#from sklearn import cross_validation, tree, linear_model
from sklearn.model_selection import train_test_split
#from sklearn.cross_validation import ShuffleSplit
from sklearn.metrics import explained_variance_score
#import sklearn.learning_curve as curves
from time import time
from sklearn.metrics import r2_score
import os
#print(os.listdir("../input"))

In [2]:
data_movies = '/Users/ibrahim/Downloads/archive/IMDB movies.csv'

In [3]:
data_names = '/Users/ibrahim/Downloads/archive/IMDB names.csv'

In [4]:
data_ratings = '/Users/ibrahim/Downloads/archive/IMDB ratings.csv'

In [5]:
data_title_principals = '/Users/ibrahim/Downloads/archive/IMDB title_principals.csv'

In [6]:
df1 = pd.read_csv(data_movies)

In [7]:
df2 = pd.read_csv(data_names)

In [8]:
df3 = pd.read_csv(data_ratings)

In [9]:
df4 = pd.read_csv(data_title_principals)

In [10]:
pd.merge(df1, df3, on='imdb_title_id')

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,5.7,11.0,5.0,2.0,5.5,12.0,6.3,22.0,5.3,214.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,8.0,47.0,7.3,30.0,7.0,6.0,6.8,13.0,7.7,388.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,2.0,2.0
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,NaN,NaN,7.0,1.0,4.0,3.0,1.7,5.0,5.8,5.0
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,6.8,4.0,7.5,4.0,7.0,4.0,6.7,13.0,6.7,60.0

In [11]:
df_merged = pd.merge(df1, df3, on='imdb_title_id')

In [12]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85855 entries, 0 to 85854
Data columns (total 70 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   imdb_title_id              85855 non-null  object
 1   title                      85855 non-null  object
 2   original_title             85855 non-null  object
 3   year                       85855 non-null  object
 4   date_published             85855 non-null  object
 5   genre                      85855 non-null  object
 6   duration                   85855 non-null  int64
 7   country                    85791 non-null  object
 8   language                   85022 non-null  object
 9   director                   85768 non-null  object
 10  writer                     84283 non-null  object
 11  production_company         81400 non-null  object
 12  actors                     85786 non-null  object
 13  description                83740 non-null  object
 14  avg_vote                   85855 non-null  float64
 15  votes                      85855 non-null  int64
 16  budget                     23710 non-null  object
 17  usa_gross_income           15326 non-null  object
 18  worlwide_gross_income      31016 non-null  object
 19  metascore                  13305 non-null  float64
 20  reviews_from_users         78258 non-null  float64
 21  reviews_from_critics       74058 non-null  float64
 22  weighted_average_vote      85855 non-null  float64
 23  total_votes                85855 non-null  int64
 24  mean_vote                  85855 non-null  float64
 25  median_vote                85855 non-null  float64
 26  votes_10                   85855 non-null  int64
 27  votes_9                    85855 non-null  int64
 28  votes_8                    85855 non-null  int64
 29  votes_7                    85855 non-null  int64
 30  votes_6                    85855 non-null  int64
 31  votes_5                    85855 non-null  int64
 32  votes_4                    85855 non-null  int64
 33  votes_3                    85855 non-null  int64
 34  votes_2                    85855 non-null  int64
 35  votes_1                    85855 non-null  int64
 36  allgenders_0age_avg_vote   33359 non-null  float64
 37  allgenders_0age_votes      33359 non-null  float64
 38  allgenders_18age_avg_vote  85149 non-null  float64
 39  allgenders_18age_votes     85149 non-null  float64
 40  allgenders_30age_avg_vote  85845 non-null  float64
 41  allgenders_30age_votes     85845 non-null  float64
 42  allgenders_45age_avg_vote  85775 non-null  float64
 43  allgenders_45age_votes     85775 non-null  float64
 44  males_allages_avg_vote     85854 non-null  float64
 45  males_allages_votes        85854 non-null  float64
 46  males_0age_avg_vote        27411 non-null  float64
 47  males_0age_votes           27411 non-null  float64
 48  males_18age_avg_vote       84390 non-null  float64
 49  males_18age_votes          84390 non-null  float64
 50  males_30age_avg_vote       85843 non-null  float64
 51  males_30age_votes          85843 non-null  float64
 52  males_45age_avg_vote       85754 non-null  float64
 53  males_45age_votes          85754 non-null  float64
 54  females_allages_avg_vote   85774 non-null  float64
 55  females_allages_votes      85774 non-null  float64
 56  females_0age_avg_vote      22117 non-null  float64
 57  females_0age_votes         22117 non-null  float64
 58  females_18age_avg_vote     79334 non-null  float64
 59  females_18age_votes        79334 non-null  float64
 60  females_30age_avg_vote     84911 non-null  float64
 61  females_30age_votes        84911 non-null  float64
 62  females_45age_avg_vote     83057 non-null  float64
 63  females_45age_votes        83057 non-null  float64
 64  top1000_voters_rating      85176 non-null  float64
 65  top1000_voters_votes       85176 non-null  float64
 66  us_voters_rating           85646 non-null  float64
 67  us_voters_votes            85646 non-null  float64
 68  non_us_voters_rating       85854 non-null  float64
 69  non_us_voters_votes        85854 non-null  float64
dtypes: float64(41), int64(13), object(16)
memory usage: 46.5+ MB

In [13]:
df_merged = df_merged.dropna(subset=["females_30age_votes","females_30age_avg_vote","females_18age_votes","females_18age_avg_vote","females_0age_votes","females_0age_avg_vote","males_18age_votes","males_18age_avg_vote","males_0age_votes","males_0age_avg_vote","allgenders_0age_votes","allgenders_0age_avg_vote","reviews_from_critics","reviews_from_users","metascore","budget","country","weighted_average_vote","language","usa_gross_income","worlwide_gross_income","production_company","writer"])

In [14]:
df_merged["date_published"] = pd.to_datetime(df_merged["date_published"])

In [15]:
df_merged["year_published"] = df_merged["date_published"].dt.year

df_merged["year_published"].head()

506     1928
1048    1931
2454    1937
2795    1937
2827    1938
Name: year_published, dtype: int64

In [16]:
df_merged["month_published"] = df_merged["date_published"].dt.month

df_merged["month_published"].head()

506     10
1048     4
2454     3
2795    10
2827    11
Name: month_published, dtype: int64

In [17]:
df_merged["day_published"] = df_merged["date_published"].dt.day

df_merged["day_published"].head()

506      1
1048     2
2454    12
2795    22
2827    30
Name: day_published, dtype: int64

In [18]:
df_merged.drop("date_published", axis=1, inplace=True)
df_merged.drop("imdb_title_id", axis=1, inplace=True)
df_merged.drop("title", axis=1, inplace=True)
df_merged.drop("original_title", axis=1, inplace=True)
df_merged.drop("description", axis=1, inplace=True)
df_merged.drop("year", axis=1, inplace=True)
df_merged.drop("actors", axis=1, inplace=True)
df_merged.drop("writer", axis=1, inplace=True)

In [19]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4877 entries, 506 to 85740
Data columns (total 65 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   genre                      4877 non-null   object
 1   duration                   4877 non-null   int64
 2   country                    4877 non-null   object
 3   language                   4877 non-null   object
 4   director                   4877 non-null   object
 5   production_company         4877 non-null   object
 6   avg_vote                   4877 non-null   float64
 7   votes                      4877 non-null   int64
 8   budget                     4877 non-null   object
 9   usa_gross_income           4877 non-null   object
 10  worlwide_gross_income      4877 non-null   object
 11  metascore                  4877 non-null   float64
 12  reviews_from_users         4877 non-null   float64
 13  reviews_from_critics       4877 non-null   float64
 14  weighted_average_vote      4877 non-null   float64
 15  total_votes                4877 non-null   int64
 16  mean_vote                  4877 non-null   float64
 17  median_vote                4877 non-null   float64
 18  votes_10                   4877 non-null   int64
 19  votes_9                    4877 non-null   int64
 20  votes_8                    4877 non-null   int64
 21  votes_7                    4877 non-null   int64
 22  votes_6                    4877 non-null   int64
 23  votes_5                    4877 non-null   int64
 24  votes_4                    4877 non-null   int64
 25  votes_3                    4877 non-null   int64
 26  votes_2                    4877 non-null   int64
 27  votes_1                    4877 non-null   int64
 28  allgenders_0age_avg_vote   4877 non-null   float64
 29  allgenders_0age_votes      4877 non-null   float64
 30  allgenders_18age_avg_vote  4877 non-null   float64
 31  allgenders_18age_votes     4877 non-null   float64
 32  allgenders_30age_avg_vote  4877 non-null   float64
 33  allgenders_30age_votes     4877 non-null   float64
 34  allgenders_45age_avg_vote  4877 non-null   float64
 35  allgenders_45age_votes     4877 non-null   float64
 36  males_allages_avg_vote     4877 non-null   float64
 37  males_allages_votes        4877 non-null   float64
 38  males_0age_avg_vote        4877 non-null   float64
 39  males_0age_votes           4877 non-null   float64
 40  males_18age_avg_vote       4877 non-null   float64
 41  males_18age_votes          4877 non-null   float64
 42  males_30age_avg_vote       4877 non-null   float64
 43  males_30age_votes          4877 non-null   float64
 44  males_45age_avg_vote       4877 non-null   float64
 45  males_45age_votes          4877 non-null   float64
 46  females_allages_avg_vote   4877 non-null   float64
 47  females_allages_votes      4877 non-null   float64
 48  females_0age_avg_vote      4877 non-null   float64
 49  females_0age_votes         4877 non-null   float64
 50  females_18age_avg_vote     4877 non-null   float64
 51  females_18age_votes        4877 non-null   float64
 52  females_30age_avg_vote     4877 non-null   float64
 53  females_30age_votes        4877 non-null   float64
 54  females_45age_avg_vote     4877 non-null   float64
 55  females_45age_votes        4877 non-null   float64
 56  top1000_voters_rating      4877 non-null   float64
 57  top1000_voters_votes       4877 non-null   float64
 58  us_voters_rating           4877 non-null   float64
 59  us_voters_votes            4877 non-null   float64
 60  non_us_voters_rating       4877 non-null   float64
 61  non_us_voters_votes        4877 non-null   float64
 62  year_published             4877 non-null   int64
 63  month_published            4877 non-null   int64
 64  day_published              4877 non-null   int64
dtypes: float64(41), int64(16), object(8)
memory usage: 2.5+ MB

In [20]:
#categorical = [var for var in df_merged.columns if df_merged[var].dtype=='O']

#print("There are {} categorical variables\n".format(len(categorical)))

#print("The categorical variables are : ", categorical)

In [21]:
df_merged["budget"]

506      DEM 6000000
1048       $ 1500000
2454       $ 1500000
2795         $ 60000
2827       $ 1499000
            ...
85266      $ 3000000
85274     $ 10000000
85397      $ 5000000
85460     $ 11100000
85740     $ 12000000
Name: budget, Length: 4877, dtype: object

In [22]:
df_merged['New_budget'] = df_merged.budget.str.replace('\D+', '')

In [23]:
df_merged["New_budget"] = [int(i) for i in df_merged["New_budget"]]

In [24]:
df_merged['New_budget']

506       6000000
1048      1500000
2454      1500000
2795        60000
2827      1499000
           ...
85266     3000000
85274    10000000
85397     5000000
85460    11100000
85740    12000000
Name: New_budget, Length: 4877, dtype: int64

In [25]:
df_merged['New_usa_gross_income'] = df_merged.usa_gross_income.str.replace('\D+', '')

In [26]:
df_merged["New_usa_gross_income"] = [int(i) for i in df_merged["New_usa_gross_income"]]

In [27]:
df_merged['New_worlwide_gross_income'] = df_merged.worlwide_gross_income.str.replace('\D+', '')

In [28]:
df_merged["New_worlwide_gross_income"] = [int(i) for i in df_merged["New_worlwide_gross_income"]]

In [29]:
df_merged.drop("budget", axis=1, inplace=True)

In [30]:
df_merged.drop("usa_gross_income", axis=1, inplace=True)

In [31]:
df_merged.drop("worlwide_gross_income", axis=1, inplace=True)

In [32]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4877 entries, 506 to 85740
Data columns (total 65 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   genre                      4877 non-null   object
 1   duration                   4877 non-null   int64
 2   country                    4877 non-null   object
 3   language                   4877 non-null   object
 4   director                   4877 non-null   object
 5   production_company         4877 non-null   object
 6   avg_vote                   4877 non-null   float64
 7   votes                      4877 non-null   int64
 8   metascore                  4877 non-null   float64
 9   reviews_from_users         4877 non-null   float64
 10  reviews_from_critics       4877 non-null   float64
 11  weighted_average_vote      4877 non-null   float64
 12  total_votes                4877 non-null   int64
 13  mean_vote                  4877 non-null   float64
 14  median_vote                4877 non-null   float64
 15  votes_10                   4877 non-null   int64
 16  votes_9                    4877 non-null   int64
 17  votes_8                    4877 non-null   int64
 18  votes_7                    4877 non-null   int64
 19  votes_6                    4877 non-null   int64
 20  votes_5                    4877 non-null   int64
 21  votes_4                    4877 non-null   int64
 22  votes_3                    4877 non-null   int64
 23  votes_2                    4877 non-null   int64
 24  votes_1                    4877 non-null   int64
 25  allgenders_0age_avg_vote   4877 non-null   float64
 26  allgenders_0age_votes      4877 non-null   float64
 27  allgenders_18age_avg_vote  4877 non-null   float64
 28  allgenders_18age_votes     4877 non-null   float64
 29  allgenders_30age_avg_vote  4877 non-null   float64
 30  allgenders_30age_votes     4877 non-null   float64
 31  allgenders_45age_avg_vote  4877 non-null   float64
 32  allgenders_45age_votes     4877 non-null   float64
 33  males_allages_avg_vote     4877 non-null   float64
 34  males_allages_votes        4877 non-null   float64
 35  males_0age_avg_vote        4877 non-null   float64
 36  males_0age_votes           4877 non-null   float64
 37  males_18age_avg_vote       4877 non-null   float64
 38  males_18age_votes          4877 non-null   float64
 39  males_30age_avg_vote       4877 non-null   float64
 40  males_30age_votes          4877 non-null   float64
 41  males_45age_avg_vote       4877 non-null   float64
 42  males_45age_votes          4877 non-null   float64
 43  females_allages_avg_vote   4877 non-null   float64
 44  females_allages_votes      4877 non-null   float64
 45  females_0age_avg_vote      4877 non-null   float64
 46  females_0age_votes         4877 non-null   float64
 47  females_18age_avg_vote     4877 non-null   float64
 48  females_18age_votes        4877 non-null   float64
 49  females_30age_avg_vote     4877 non-null   float64
 50  females_30age_votes        4877 non-null   float64
 51  females_45age_avg_vote     4877 non-null   float64
 52  females_45age_votes        4877 non-null   float64
 53  top1000_voters_rating      4877 non-null   float64
 54  top1000_voters_votes       4877 non-null   float64
 55  us_voters_rating           4877 non-null   float64
 56  us_voters_votes            4877 non-null   float64
 57  non_us_voters_rating       4877 non-null   float64
 58  non_us_voters_votes        4877 non-null   float64
 59  year_published             4877 non-null   int64
 60  month_published            4877 non-null   int64
 61  day_published              4877 non-null   int64
 62  New_budget                 4877 non-null   int64
 63  New_usa_gross_income       4877 non-null   int64
 64  New_worlwide_gross_income  4877 non-null   int64
dtypes: float64(41), int64(19), object(5)
memory usage: 2.5+ MB

In [33]:
#for var in categorical:
    
 #   print(var, "contains", len(df_merged[var].unique()), "labels")

In [34]:
X = df_merged.drop(["weighted_average_vote"], axis=1)
y = df_merged["weighted_average_vote"]

In [35]:
df_merged.drop("weighted_average_vote", axis=1, inplace=True)

In [36]:
numerical = [var for var in df_merged.columns if df_merged[var].dtype!="O"]

In [37]:
for var in numerical:
    
    print(var, "contains", len(df_merged[var].unique()), "labels")

duration contains 136 labels
avg_vote contains 74 labels
votes contains 4829 labels
metascore contains 95 labels
reviews_from_users contains 1169 labels
reviews_from_critics contains 589 labels
total_votes contains 4829 labels
mean_vote contains 66 labels
median_vote contains 11 labels
votes_10 contains 4169 labels
votes_9 contains 4006 labels
votes_8 contains 4460 labels
votes_7 contains 4605 labels
votes_6 contains 4538 labels
votes_5 contains 4234 labels
votes_4 contains 3664 labels
votes_3 contains 3025 labels
votes_2 contains 2448 labels
votes_1 contains 2908 labels
allgenders_0age_avg_vote contains 84 labels
allgenders_0age_votes contains 522 labels
allgenders_18age_avg_vote contains 76 labels
allgenders_18age_votes contains 4520 labels
allgenders_30age_avg_vote contains 77 labels
allgenders_30age_votes contains 4745 labels
allgenders_45age_avg_vote contains 73 labels
allgenders_45age_votes contains 4465 labels
males_allages_avg_vote contains 75 labels
males_allages_votes contains 4779 labels
males_0age_avg_vote contains 84 labels
males_0age_votes contains 424 labels
males_18age_avg_vote contains 78 labels
males_18age_votes contains 4342 labels
males_30age_avg_vote contains 77 labels
males_30age_votes contains 4710 labels
males_45age_avg_vote contains 75 labels
males_45age_votes contains 4351 labels
females_allages_avg_vote contains 70 labels
females_allages_votes contains 4461 labels
females_0age_avg_vote contains 78 labels
females_0age_votes contains 183 labels
females_18age_avg_vote contains 69 labels
females_18age_votes contains 3592 labels
females_30age_avg_vote contains 69 labels
females_30age_votes contains 4117 labels
females_45age_avg_vote contains 69 labels
females_45age_votes contains 2967 labels
top1000_voters_rating contains 70 labels
top1000_voters_votes contains 838 labels
us_voters_rating contains 78 labels
us_voters_votes contains 4571 labels
non_us_voters_rating contains 74 labels
non_us_voters_votes contains 4769 labels
year_published contains 79 labels
month_published contains 12 labels
day_published contains 31 labels
New_budget contains 473 labels
New_usa_gross_income contains 4876 labels
New_worlwide_gross_income contains 4876 labels

In [38]:
categorical = [var for var in df_merged.columns if df_merged[var].dtype=="O"]

In [39]:
for var in categorical:
    
    print(var, "contains", len(df_merged[var].unique()), "labels")

genre contains 338 labels
country contains 784 labels
language contains 794 labels
director contains 2147 labels
production_company contains 1611 labels

In [40]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [41]:
X_train.shape, X_test.shape

((3901, 64), (976, 64))

In [42]:
X_train = pd.concat([X_train[numerical],
                     pd.get_dummies(X.genre),
                     pd.get_dummies(X.country),
                     pd.get_dummies(X.language),
                     pd.get_dummies(X.director),
                     pd.get_dummies(X.production_company),
                   
                     ], axis=1)

In [43]:
X_test = pd.concat([X_test[numerical],
                     pd.get_dummies(X.genre),
                     pd.get_dummies(X.country),
                     pd.get_dummies(X.language),
                     pd.get_dummies(X.director),
                     pd.get_dummies(X.production_company),
                       ], axis=1)

In [44]:
cols = X_train.columns

In [45]:
X_train.shape, X_test.shape

((4877, 5733), (4877, 5733))

In [46]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [47]:
X_train.shape, X_test.shape

((3901, 64), (976, 64))

In [48]:
from sklearn.preprocessing import MinMaxScaler

sc = StandardScaler()

X_train = sc.fit_transform(X_train)

X_test = sc.fit_transform(X_test)

ValueError: could not convert string to float: 'Horror, Mystery, Thriller'

In [ ]:
X_train = pd.DataFrame(X_train, columns=[cols])

In [ ]:
X_test = pd.DataFrame(X_test, columns=[cols])

In [ ]:
X_train.describe()

In [ ]:
np.where(np.isnan(X_train)),np.where(np.isnan(X_test))

In [ ]:
X_train.shape, X_test.shape

In [ ]:
#X_test = X_test.fillna(X_test.mean())
#X_train = X_train.fillna(X_train.mean())

In [ ]:
np.where(np.isnan(X_train)),np.where(np.isnan(X_test))

In [ ]:
X_train.shape, X_test.shape

In [ ]:
from sklearn.linear_model import LogisticRegression

logReg = LogisticRegression(solver="liblinear", random_state=0)

logReg.fit(X_train, y_train)